<!DOCTYPE html>
<html lang="en">
<head>
  <script src="/assets/cart.js"></script>
</head>
<body>
  <section class="h-100 cart-page">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12">
          <h1 class="fw-bold mb-0 text-black">Panier</h1>
          <h6 class="mb-0 text-muted"><%= current_user.cart.cart_items.count %> articles</h6>
          <hr class="my-4">

          <!-- Loop through cart items -->
          <% current_user.cart.cart_items.each do |cart_item| %>
            <turbo-frame id="cart_item_<%= cart_item.id %>">
              <div class="card mb-4">
                <div class="card-body">
                  <div class="row g-0">
                    <div class="col-md-2 col-lg-2 col-xl-2">
                      <img src="<%= cart_item.item.image_url %>" class="img-fluid rounded-3" alt="<%= cart_item.item.title %>">
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-3">
                      <h6 class="text-black mb-0"><%= cart_item.item.title %></h6>
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                      <button data-mdb-button-init data-mdb-ripple-init class="btn btn-link px-2" onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                        <i class="fas fa-minus"></i>
                      </button>

                      <input id="form1" min="0" name="quantity" value="<%= cart_item.quantity %>" type="number" class="form-control form-control-sm" />

                      <button data-mdb-button-init data-mdb-ripple-init class="btn btn-link px-2" onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                        <i class="fas fa-plus"></i>
                      </button>
                    </div>
                    <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                      <h6 class="mb-0">€ <%= cart_item.item.price %></h6>
                    </div>
                    <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                      <%= link_to 'Supprimer', destroy_item_cart_path(cart_item), data: { turbo_method: :delete, turbo_confirm: "Êtes-vous sûr ce vouloir supprimer cet article?" }, class: "text-muted delete-item" %>
                    </div>
                  </div>
                </div>
              </div>
            </turbo-frame>
          <% end %>
          <!-- End of loop -->

          <hr class="my-4">
          <div class="pt-5">
            <h6 class="mb-0">
              <%= link_to eshop_index_path, class: "text-body" do %>
                <i class="fas fa-long-arrow-alt-left me-2"></i>
                Retour à la boutique
              <% end %>
            </h6>
          </div>
        </div>
      </div>
      <!-- Ajout de la div pour afficher le montant total du panier -->
      <div class="card ms-auto" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Total du panier</h5>
          <p class="card-text">€ <%= @total_price %></p>
        </div>
      </div>
      <!-- Ajout du bouton "Payer" -->
      <div class="text-end ms-auto">
        <button class="btn btn-secondary">Procéder au paiment</button>
      </div>
    </div>
  </section>
</body>
</html>
