<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <p>Vous avez reçu un nouveau message de contact:</p>
  <p><strong>Prénom:</strong> <%= @first_name %></p>
  <p><strong>Nom:</strong> <%= @last_name %></p>
  <p><strong>Email:</strong> <%= @email %></p>
  <p><strong>Raison:</strong> <%= @reason %></p>
  <p><strong>Message:</strong> <%= @message %></p>
</body>
</html>
