<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
</head>
<body>
  <!-- Product section-->
  <section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
      <div class="row gx-4 gx-lg-5 align-items-center">
        <div class="col-md-6">
          <img class="card-img-top mb-5 mb-md-0" src="<%= asset_path(@item.image_url) %>" alt="<%= @item.title %>" />
        </div>
        <div class="col-md-6">
          <h1 class="display-5 fw-bolder"><%= @item.title %></h1>
          <div class="fs-5 mb-5">
            <span><%= number_to_currency(@item.price, unit: "€", format: "%n %u") %></span>
          </div>
          <p class="lead"><%= @item.description %></p>
          <div class="d-flex">
            <input class="form-control text-center me-3" id="inputQuantity" type="number" value="1" min="1" style="max-width: 3rem" />
            <button class="btn btn-outline-dark flex-shrink-0" type="button">
              <i class="bi-cart-fill me-1"></i>
              Ajouter au panier
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Related items section-->
  <section class="py-5 bg-light">
    <div class="container px-4 px-lg-5 mt-5">
      <h2 class="fw-bolder mb-4">Related products</h2>
      <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
        <% @related_items.each do |related_item| %>
          <div class="col mb-5">
            <div class="card h-100">
              <!-- Product image-->
              <img class="card-img-top" src="<%= asset_path(related_item.image_url) %>" alt="<%= related_item.title %>" />
              <!-- Product details-->
              <div class="card-body p-4">
                <div class="text-center">
                  <!-- Product name-->
                  <h5 class="fw-bolder"><%= related_item.title %></h5>
                  <!-- Product price-->
                  <%= number_to_currency(related_item.price, unit: "€", format: "%n %u") %>
                </div>
              </div>
              <!-- Product actions-->
              <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="<%= eshop_item_path(related_item) %>">Voir en détails</a></div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </section>
  <!-- Bootstrap core JS-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
