<!DOCTYPE html>
<html>
<head>
  <title>EsperenWebsite</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <!-- Bootstrap icons-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
  <!-- Inclusion des polices -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  <link href="https://db.onlinewebfonts.com/c/49ded67c36cc1c2fe20918442aa23902?family=Rondal+Regular" rel="stylesheet">
  <!-- Inclusion d'OpenDyslexic -->
  <link href="https://db.onlinewebfonts.com/c/66a105c2c6d3ca4bf2c6fa8b8e0df1bf?family=OpenDyslexic-Regular" rel="stylesheet">
  <!-- Favicon -->
  <%= favicon_link_tag asset_path('logoEsperen.png') %>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>

  <!-- Inclusion du fichier CSS de Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- Inclusion du fichier CSS personnalisé -->
  <%= stylesheet_link_tag 'custom_styles', 'data-turbo-track': 'reload' %>

  <!-- Script Stripe -->
  <script src="https://js.stripe.com/v3/"></script>
</head>

<body class="d-flex flex-column min-vh-100">
<header>
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="/static_pages/home">ESPEREN</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/static_pages/home">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/static_pages/about">A propos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/static_pages/prestations">Prestations</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/static_pages/team">L'équipe</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/static_pages/contact">Infos & Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/eshop/eshop_index">EShop</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Mon Compte
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <% if user_signed_in? %>
              <li><%= link_to "Se déconnecter", destroy_user_session_path, method: :delete, data: {turbo_method: :delete}, class: "dropdown-item" %></li>
              <% else %>
              <li><a class="dropdown-item" href="/users/sign_up">S'inscrire</a></li>
              <li><a class="dropdown-item" href="/users/sign_in">Se connecter</a></li>
              <% end %>
            </ul>
          </li>
        </ul>
      </div>
        <% if user_signed_in?  && current_user.cart %>
        <!-- Utilise un lien pour rediriger vers la page du panier -->
        <div class="d-flex align-items-center">
        <%= link_to cart_path, class: "btn btn-outline-dark text-white" do %>
          <i class="bi-cart-fill"></i>
          Panier
        <% end %>
        <!-- Affiche le nombre d'articles dans le panier -->
        <div id="cart-count" class="badge bg-dark me-3"><%= current_user.cart.cart_items.count %></div>
        </div>
        <% end %>
        
      <button id="toggle-dyslexia" class="btn btn-secondary">Activer OpenDyslexic</button>
    </div>
  </nav>
</header>

<div class="flex-grow-1">
  <%= yield %>
</div>

<footer class="footer">
  <div class="container text-center">
    <div class="row">
      <div class="col-md-12 social-icons">
        <!-- Ajoutez vos liens de médias sociaux ici -->
        <a href="https://www.facebook.com/profile.php?id=100091867665284"><i class="fa-brands fa-square-facebook"></i></a>
        <a href="https://www.instagram.com/esperenfr/"><i class="fab fa-instagram fa-lg mx-3"></i></a>
        <a href="https://www.linkedin.com/company/espero-bretagne/"><i class="fa-brands fa-linkedin"></i></a>
      </div>
    </div>
    <div class="row mt-3"> 
      <div class="col-md-12">
        <p>&copy; 2024 ESPEREN. Tous droits réservés.</p>
      </div>
    </div>
  </div>
</footer>

<!-- Inclusion du script JavaScript de Bootstrap pour le dropdown de la navbar -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<!-- Inclusion du script JavaScript de Font Awesome pour les icônes réseaux sociaux -->
<script src="https://kit.fontawesome.com/622df1b05f.js" crossorigin="anonymous"></script>
<!-- Inclusion du script OpenDyslexic -->
<script>
document.addEventListener("DOMContentLoaded", function() {
    const button = document.getElementById('toggle-dyslexia');
    button.addEventListener('click', function() {
        document.body.classList.toggle('dyslexia-mode');
        if (document.body.classList.contains('dyslexia-mode')) {
            button.textContent = 'Désactiver OpenDyslexic';
        } else {
            button.textContent = 'Activer OpenDyslexic';
        }
        console.log('Dyslexia mode toggled:', document.body.classList.contains('dyslexia-mode'));
    });
});
</script>
</body>
</html>